@charset "UTF-8";

:root{
    --cor_fundo: #02523D;
    --cor_bot: #CD5733;
    --cor_tex: white;
    --cor01:#7BBAA9;
    --cor02: #80726E;
}

*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    background-color: var(--cor_bot);
}

body > h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    color: white;

}

body > h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
    text-align: center;
    color: var(--cor_fundo);

}

nav{
    display: flex;
    justify-content: center;    
    gap: 20px; /* distância entre os botões */
    padding: 15px;
}

nav a {
    background-color: var(--cor_fundo);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: var(--cor_bot);
}

body > div{
    width: 100%;
    height: auto;      /* REMOVE a altura fixa */
    overflow: hidden;  /* evita barras se algo estourar */
    text-align: center;
}

img{
    display: block;    /* remove espaços em linha */
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover; /* melhora casos de proporção diferente */
}

