@charset "UTF-8";
/*: root declarando variáveis gerais */
:root{
    --cor0:#1D90DC;
    --cor1:#70B4A7;
    --cor2:#1B5E52;
    --cor3:#9AF9D5;
    --cor4:#96B3DC;
    --cor5:#80CF76;

    --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-titulo: "Bebas Neue", Sans-serif;
    --fonte-subtitulo: 'Android', Sans-serif;
}






*{
    background-color: var(--cor1);
    margin: 0px;
    padding: 0px;
}

header>h1, header>h2{
    text-align: center;
    background-color: var(--cor2);
    height: 100px;
    width: 100vw;
    padding-top: 40px;
}

