@charset "UTF-8";
/*: root declarando variáveis gerais */


@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Playwrite+US+Modern:wght@100..400&family=Sriracha&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Playwrite+US+Modern:wght@100..400&family=Sriracha&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');










:root{
    --cor0:#1D90DC;
    --cor1:#70B4A7;
    --cor2:#1B5E52;
    --cor3:#9AF9D5;
    --cor4:#96B3DC;
    --cor5:#80CF76;
}



    --fonte-titulo: "Carrois Gothic", sans-serif;
    --fonte-sub: "Zain", sans-serif;
    --fonte-texto:
    



*{
    margin: 0px;
    padding: 0px;
}

header{
    width: 100vw;
    height: 300px;

    background-image: url("../imagens/header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin: 0px;
    padding: 0px;
}

header > h1{
    font-family: var(--fonte-titulo);
}

header > h2{
    font-family: var(--fonte-sub);
}

